/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
*/
@import "bootstrap";

$background: #171738;
$primary: #3423A6;
$secondary: #2E1760;
$tertiary: #7180B9;
$overtone: #DFF3E4;

body {
  background-color: $background;
  color: $overtone;
}

audio::-webkit-media-controls-enclosure{
  background-color: $tertiary;
}

.player{
  width:100%;
  max-width:600px;
}
.header{
  background-color: $background;
  font-family: 'Audiowide', sans-serif;
  color: $overtone;
}

.card-area{
  width: 100%;
}

.track-card{
  //background-color: $tertiary;
  font-family: 'Audiowide', sans-serif;
  border-color: $secondary;
  width: 100%;
}

.track-card-title{
  color: $primary;
}

.track-card-footer{
  background-color: $tertiary;
}
